.intro_col_two {
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;

  & picture {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  & picture > img {
    border-radius: 2%;
    min-width: 300px;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

// Responive

@media (max-width: 480px) {
  .intro_col_two {
    width: 80%;
    margin-bottom: 30px;
    height: auto;

    & picture > img {
      max-width: 100%;
      min-width: unset;
      border-radius: 8px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    }
  }
}
