.containerLogo {
  width: 75px;
  height: 75px;
  background: $c-fg-primary;
  border-radius: 10px;
  padding: 10px;
  & {
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

//
// Responsive
//

@media (max-width: 480px) {
  .containerLogo {
    width: 60px;
    height: 60px;
  }
}
